<div>
    <div class="card p-3">
      <form [formGroup]="searchForm" (ngSubmit)="onSearch()">
        <div class="form-row">
            <div class="form-group">
                <label for="customerId">Customer ID</label>
                <input id="customerId" class="form-control" formControlName="customerId">
            </div>
            <div class="form-group">
                <label for="firstName">First Name</label>
                <input id="firstName" class="form-control" formControlName="firstName">
                  </div>
            <div class="form-group">
                <label for="zipCode">ZIP Code</label>
                <input id="zipCode" class="form-control" formControlName="zipCode">
                  </div>
            <div class="form-group">
                <label for="creationDate">Creation Date</label>
                <input id="creationDate" class="form-control" formControlName="creationDate" type="date">
                  </div>
        </div>
          <div class="form-row text-center">
           <button class="btn btn-primary mt-2" type="submit">Search</button>        
        </div>
      </form>
    </div>
  
    <div class="card mt-4">
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th>Select</th>
            <th>ID</th>
            <th>First Name</th>
            <th>Address</th>
            <th>ZIP Code</th>
            <th>Creation Date</th>
            <th>Location</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let customer of customers">
            <td><input type="radio" name="selectedCustomer" (change)="selectCustomer(customer)"></td>
            <td>{{ customer.id }}</td>
            <td>{{ customer.firstName }}</td>
            <td>{{ customer.address }}</td>
            <td>{{ customer.zipCode }}</td>
            <td>{{ customer.creationDate | date }}</td>
            <td><select class="form-control">
                <option *ngFor="let location of customer.locations" [value]="location">{{ location }}</option>
              </select>
            </td>
            <td>
              <button class="btn btn-success" (click)="goToOrderPage(customer)">Order</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
