<header class="header">
    <div class="logo" (click)="navigateTo('/home')">
      <img src="../assets/The_Better_Being_Co_Logo.png" alt="Company Logo" />
    </div>
    
    <nav class="nav">
      <ul>
        <li><a href="#" (click)="navigateTo('/customer-search')">Shop By
          <ul>
            <li><a href="#">Cat 1</a></li>
            <li><a href="#">Cat 2</a></li>
          </ul>
        </a></li>
        <li><a href="#">About Us</a>
          <ul>
            <li><a href="#">Our Story</a></li>
            <li><a href="#">Mission</a></li>
          </ul>
        </li>
        <li><a href="#" (click)="navigateTo('/contact-us')">Contact Us</a></li>
        <li><a href="#" (click)="navigateTo('/order-search')">Search</a></li>
        <li><a href="#" (click)="navigateTo('/login')">
          <img src="assets/man-icon.png"  class="icon" /> Sign In
        </a></li>
        <li><a href="#" class="cart">
          <img src="assets/cart-icon.png"  />
          <span class="cart-count">0</span>
        </a></li>
      </ul>
    </nav>
  </header>
  
